*.o
tde_lcurve_assistant.o
tde_lcurve.o
tde_lcurve_run.o
TiDE
Trapezoidal_rule/trapezoidal.o
lcurve_diffusion.dat
lcurve.dat
src/star_structure/temp
src/star_structure/theta_int
src/Makefile_backup
./src/Trapezoidal_rule/.deps
./src/Linear_interpol/.deps
./src/Python_wrapper/.deps
./src/.deps
.vscode
src/.vscode
src/Trapezoidal_rule/.deps/
